@import url('/assets/font/product-sans-font.css');
/* 
  Colour Palete
  #EDEDF6
  #685AE0
  #7B69B7
*/
body {
  margin: 0;
  font-family: 'Product Sans Regular';
}
header {
  height: 50px;
  background-color: #7b69b7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.header__start {
  color: #ffffff;
  line-height: 0;
}

main {
  background-color: #303030;
  height: calc(100dvh - 60px);
}
.main-content {
  background-image: radial-gradient(blue, black);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-content__table-container {
  height: 90%;
  width: 800px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main-content__table-container .top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-flex select {
  width: 200px;
  border: none;
}
#search-books-form {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}
#search-books-form img {
  width: 20px;
  margin: auto;
}
#__search_book {
  height: 40px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
  font-family: 'Product Sans';
}
#__search-button {
  width: 55px;
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*  */
td,
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#book-table {
  table-layout: fixed;
  width: 100%;
}
.main-content__table-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  margin-left: 1%;
  border-radius: 5px;
  overflow: hidden;
}
/*  */
#book_id {
  width: 100px;
}

#bottom-control__add-book {
  margin-top: auto;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00aacc;
  box-shadow: 2px 2px 4px #aaaaaa;
}
#bottom-control__add-book img {
  width: 50px;
}

.table-content__preview {
  width: 350px;
  height: 100%;
  background-color: #303030;
}
#add-book__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #30303080;
}
.add-book__overlay__content {
  height: 550px;
  width: 900px;
  margin: 5% auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #ededf6;
  border-radius: 10px;
}
#close-button {
  height: 40px;
  width: 40px;
  z-index: 2;
  border-radius: 20px;
  background-color: #eb3838;
}
#add-book-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  justify-content: space-between;
  margin: 5% 5% 0 5%;
box-sizing: border-box;
}
#add-book-form input {
  height: 40px;
  outline: none;
  border: none;
}
.form-left,
.form-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}
.form-end {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-end input {
  width: 70%;
  margin-top: 10%;
  background-color: #00aacc;
  color: #ffffff;
  border-radius: 20px;
}
#add-book-form #description {
  height: 200px;
}

.image-container {
  background-color: #d1d1d1;
  height: 400px;
  width: 250px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-right: 5%;

}



#image-upload img {
  max-width: 100%;
  max-height: 100%;
}

#add-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #00aacc;
  margin-bottom: 5px;
  margin-right: 5px;
}
#delete-image{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cc0000;
  margin-bottom: 5px;
  margin-left: 5px;
}
.image-container__footer img {
  width: 40px;
}

#shelf-chooser {
  height: 40px;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.overlay__header {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #4864e6;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  box-sizing: border-box;
  color: #ededf6;
}
